#main {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.p-listitem__sustainability {
    color: #6c8659;
}

.p-listitem__software {
    color: #565b67;
}

.p-listitem__data-science {
    color: #735986;
}

.p-listitem__minimalism {
    color: #064080;
}

.p-article-title__data-science, .c-article-title__data-science > a {
    border-bottom: 3px solid #735986;
}

.c-article-title__data-science > a:hover {
    color: #735986;
}

.p-article-title__minimalism, .c-article-title__minimalism > a {
    border-bottom: 3px solid #064080;
}

.c-article-title__minimalism > a:hover {
    color: #064080;
}

.p-article-title__software, .c-article-title__software > a {
    border-bottom: 3px solid #565b67;
}

.c-article-title__software > a:hover {
    color: #565b67;
}

.p-article-title__sustainability, .c-article-title__sustainability > a {
    border-bottom: 3px solid #6c8659;
}

.c-article-title__sustainability > a:hover {
    color: #6c8659;
}
